@import "compass/css3/transform";
@import "compass/css3/transition";
@import "../bower_components/vertigo/src/styles/vertigo";

body {
  overflow: hidden;
}

.explanation {
  background: rgba(255, 255, 255, 0.75);
  left: 20px;
  position: fixed;
  right: 20px;
  text-align: center;
  top: 0;
  z-index: 1000;
}

.loading {
  display: none;
}
